#home-page {
    background-image: url('../images/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.sunrise {
    position: absolute;
    top: 0;
    left: 50%;
    height: 150%;
    z-index: 1;
    opacity: 1;
    animation: rotate 60s infinite linear;
}

@keyframes rotate {
    from {
        transform: translateX(-50%) translateY(-25%) rotate(0deg);
      }
      to {
        transform: translateX(-50%) translateY(-25%) rotate(359deg);
      }
}

.warpper {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 5;
}

.logo {
    width: 360px;
    margin: 30px 0;
}

.text-img {
    width: 400px;
}

.character-pic {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 3;
}

.input-cont {
    background-image: url('../images/inputCont.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 920px;
    height: 696px;
    margin: -100px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.input-item-cont {
    width: 50%;
    height: 50px;
    background-color: #e4e4e4;
    border: 1px solid rgb(146, 146, 146);
    border-radius: 12px;
}

.input-item-cont input {
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding: 12px 24px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}

.input-item-cont input:focus {
    outline: none;
}

#submit-btn {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #8bcee0 5%, #2a7496 100%);
	background-color:#8bcee0;
	border-radius:6px;
	border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 18px;
    letter-spacing: 0.5px;
	padding: 16px 32px;
    margin: 36px 0;
}
#submit-btn:hover {
	background:linear-gradient(to bottom, #2a7496 5%, #8bcee0 100%);
	background-color:#2a7496;
}
#submit-btn:active {
	position:relative;
	top:1px;
}

#promo-detail-btn {
    margin-top: 12px;
    font-family: 'Montserrat', sans-serif;
    color: #4d95b1;
    font-weight: 600;
    animation: change-background 3s ease infinite;
    font-size: 16px;
}

@keyframes change-background {
    0% {
        color: #4d95b1;
    }
    50% {
        color: #c42675;
    }
    100% {
        color: #21f0e6;

    }
  }

#promo-detail-btn:hover {
    cursor: pointer;
    color: #21617a;
}

.header-popup {
    padding: 12px;
    background-color: #f5f5f5;
    border: 1px solid #bdbdbd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.modal-text-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal-text-cont {
    display: flex;
}

@media only screen and (max-width: 1024px) {
    .input-cont {
        width: 80%;
        height: 696px;
        margin: -120px auto 0 auto;
    }

}

@media only screen and (max-width: 750px) {    
    .logo {
        max-width: 360px;
        width: 60%;
        margin: 30px 0;
    }

    .text-img {
        margin-bottom: -30px;
        max-width: 400px;
        width: 70%;
    }

    .input-cont {
        background-image: url('../images/inputCont90cw.png');
        width: 146%;
        height: 565px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 auto;
    }
    
    .input-item-cont {
        width: 250px;
        height: 50px;
        background-color: #e4e4e4;
        border: 1px solid rgb(146, 146, 146);
        border-radius: 12px;
    }

    #promo-detail-btn {
        width: 280px;
        text-align: center;
    }

    
}

@media only screen and (max-height: 680px) {
    .text-img {
        margin-bottom: -60px;
        max-width: 400px;
        width: 70%;
    }
}
